<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ patrimonyPosition.symbol }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="image" [src]="positionImageServiceService.imageSymbol(patrimonyPosition.symbol)">
    <mat-card-content>
        <mat-card-subtitle>{{ patrimonyPosition.amount }} x {{ patrimonyPosition.currentPrice | currency:"BRL":"symbol" }}</mat-card-subtitle>
        <mat-card-subtitle><b>Total: {{ patrimonyPosition.currentPrice * patrimonyPosition.amount | currency:"BRL":"symbol" }}</b></mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>        
        <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        <button *ngIf="!loading" mat-button (click)="openDialog()">VENDER</button>
    </mat-card-actions>
</mat-card>