<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <div>
        <span class="font-weight-light">Saldo em conta: </span>
        <span class="font-weight-light">{{ userInformationsService.userInformations?.accountAmount ?? '-' }}</span>
    </div>
    <button mat-icon-button (click)="refreshUserInformations()">
        <mat-icon>refresh</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <a routerLink="/servicos/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span></a>
    </button>
    <button mat-menu-item>
        <a routerLink="/servicos/positions" routerLinkActive="active">
            <mat-icon>show_chart</mat-icon>
            <span>Positions</span>
        </a>
    </button>
    <button mat-menu-item>
        <a routerLink="/servicos/trends" routerLinkActive="active">            
        <mat-icon>show_chart</mat-icon>
        <span>Top Trends</span></a>
    </button>
    <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>
<router-outlet></router-outlet>