@import "~bootstrap/dist/css/bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background: #456;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  background: rgb(4, 70, 29);
  font-size: 12px;
  color: rgb(215, 218, 226);
}

.error-snackbar {
  background: rgb(148, 38, 38);
  font-size: 12px;
  color: rgb(215, 218, 226);
}
